<!DOCTYPE html>
<html ng-app="boilerplate" ng-controller="AppController">
  <head>
    <title>Boilerplate</title>

    <!-- Social media tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@handle"/>
    <meta name="twitter:title" content="Title"/>
    <meta name="twitter:description" content="Description">
    <meta name="twitter:creator" content="@handle"/>
    <meta name="twitter:image:src" content="http://example.com/logo.png"/>
    <meta property="og:title" content="Title"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://example.com/"/>
    <meta property="og:image" content="http://example.com/logo.png"/>
    <meta property="og:description" content="Description"/>

    <!-- Compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- Compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
