<!DOCTYPE html>
<html ng-app="boilerplate" ng-controller="AppController">
  <head>
    <!-- Social media tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@handle"/>
    <meta name="twitter:title" content="Title"/>
    <meta name="twitter:description" content="Description">
    <meta name="twitter:creator" content="@handle"/>
    <meta name="twitter:image:src" content="http://example.com/logo.png"/>
    <meta property="og:title" content="Title"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://example.com/"/>
    <meta property="og:image" content="http://example.com/logo.png"/>
    <meta property="og:description" content="Description"/>

    <!-- Compiled CSS -->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/boilerplate-0.0.0.min.css"/>

    <!-- Compiled JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/boilerplate-0.0.0.min.js"></script>
  </head>
  <body>
    <%- yield %>
  </body>
</html>
